@import "tailwindcss";

:root {
    --color-background: #FAFAFA;
  --color-foreground: #333333;
  --color-primary: #2ECC71;   /* mint */
  --color-secondary: #3498DB; /* sky blue */
  --color-accent: #FF9F68;  

   --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;


  --h1: 2rem;
  --h2: 1.5rem;
  --base-line-height: 1.6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
      --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

a {
    color: var(--color-primary);
    text-decoration: none;
  }
  .btn {
    @apply inline-block px-5 py-3 rounded-lg text-white font-semibold;
    background: var(--color-primary);
  }